/* navbar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.Recipe{
    color: black;
}

.bgpurple{
    background-color:#e5f3e9;
}
.navbar{
    color: white;
}

.links{
    display: flex;
    gap: 20px;
}

.links a:hover {
    color: yellow;
}

/* hero section */

.login-links{
    display: flex;
    gap: 20px;
    justify-items: right;
}




.big-input {
    width: 100%;
    height: 70px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-sizing: border-box;
}

/* cards */


.search-box {
  display: flex;
  gap: 10px;
  width: 500px;
  margin: 20px auto;
  color: black;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: burlywood;
}

.search-box button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(2, 41, 2);
}

.your{
    justify-content: center;
    display: flex;
}


.options {
    display: none;
    position: absolute;
    background: white;
    padding: 15px;
    box-shadow: 0 0 10px gray;
}

.options button {
    padding: 10px 20px;
    cursor: pointer;
}

.dashboard{
    justify-content: center;
    display: flex;
}


.dashboard-btn{
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: wheat;
    border-radius: 0;
    background-color:rgb(2, 48, 2);
}